/* REGOLE GENERALI */

/* Imposto un altezza predefinita per le mie row */
.row {
    height: 50px;
}

[class*="col"]{
    display: flex;
    align-items: center;
}

/* Definisco i contenitori blu */
.blue {
    width: 100%;
    height: 100%;
    color: white;
    background-color: dodgerblue;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Definisco i contenitori verde */
.green {
    margin: 0 5px;
    width: 100%;
    height: 35px;
    color: white;
    background-color: green;
    border: 2px solid dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Definisco un colore specifico alla row title */
#title {
    color: black;
    background-color: white;
}

/* Definisco lo stile per la riga bianca */
#white-row{
    height: 25px;
    background-color: white;
}